<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="generator" content="<TMPL_VAR generator ESCAPE="HTML">">
  
<title><TMPL_VAR name></title>
<meta charset="utf8">
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta name="description" content="OpenBSD News">
<meta name="keywords"  content="freebsd, blog, blogs, planet, openbsd, bsd, unix, digest, news" />

<meta property="og:title" content="Planet OpenBSD" />
<meta property="og:description" content="OpenBSD News Aggregator" />
<meta property="og:site_name" content="Planet OpenBSD" />
<meta property="og:type" content="website" />

<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/combined.css" rel="stylesheet" />
<link href="css/css" rel="stylesheet" type="text/css" />
<link href="css/planet.css" rel="stylesheet" />
<link href="css/openbsd.css" rel="stylesheet" />
<TMPL_IF feedtype>
<link rel="shortcut icon" href="openbsd.png" type="image/png" />
<link rel="alternate" href="<TMPL_VAR feed ESCAPE="HTML">" title="<TMPL_VAR channel_title_plain ESCAPE="HTML">" type="application/<TMPL_VAR feedtype>+xml">
</TMPL_IF>

</head>

 <body>
<!--<h1><TMPL_VAR name></h1>-->
  <div class="container">
   <div class="row">
    <div class="col-md-9">

<TMPL_VAR admin>

<TMPL_LOOP Items>
<TMPL_IF new_date>
<TMPL_UNLESS __FIRST__>
### End <div class="channelgroup">
</div>
### End <div class="daygroup">
</div>
</TMPL_UNLESS>
<div class="daygroup">
<p><h3><TMPL_VAR new_date></h3></p>
</TMPL_IF>

<TMPL_IF new_channel>
<TMPL_UNLESS new_date>
### End <div class="channelgroup">
</div>
</TMPL_UNLESS>
<div class="channelgroup">
<!--<h3><a href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title_plain ESCAPE="HTML">"><TMPL_VAR channel_name></a></h3>-->
</TMPL_IF>

<div class="entrygroup" id="<TMPL_VAR id>">
<TMPL_IF title>
<a class="title" href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR title></a><a class="author" href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title_plain ESCAPE="HTML">"><TMPL_VAR channel_name></a>
</TMPL_IF>
<div class="entry">
<div class="content">
<TMPL_VAR content>
</div>
</div>
</div>

<TMPL_IF __LAST__>
### End <div class="channelgroup">
</div>
### End <div class="daygroup">
</div>
</TMPL_IF>
</TMPL_LOOP>


    </div>
    <div class="col-md-3">

<h1><TMPL_VAR name></h1>

<div class="sidebar">

<p><a class="twitter-timeline" href="https://twitter.com/openbsdnow">Tweets by openbsdnow</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></p>

<h4>Contributors</h4>
<ul>
<TMPL_LOOP Channels>
<li>
<a href="<TMPL_VAR url ESCAPE="HTML">" title="subscribe"><img src="images/feed-icon-10x10.png" alt="(feed)"></a> <a <TMPL_IF link>href="<TMPL_VAR link ESCAPE="HTML">" </TMPL_IF><TMPL_IF message>class="message" title="<TMPL_VAR message ESCAPE="HTML">"</TMPL_IF><TMPL_UNLESS message>title="<TMPL_VAR title_plain ESCAPE="HTML">"</TMPL_UNLESS>><TMPL_VAR name></a>
</li>
</TMPL_LOOP>
</ul>

<p>
<strong>Last updated:</strong><br>
<TMPL_VAR date><br>
<em>All times are UTC.</em><br>
</p>

<p>
Source changes: <a href="http://v4.freshbsd.org/project/openbsd/src">src</a>, <a href="http://v4.freshbsd.org/project/openbsd/ports">ports</a>, <a href="http://v4.freshbsd.org/project/openbsd/xenocara">xenocara</a>
<a href="https://why-openbsd.rocks/">Why OpenBSD rocks</a>
<a href="http://openbsdjumpstart.org/">OpenBSD Jumpstart</a>
</p>

<p>
Subscribe via <a href="https://feedburner.google.com/fb/a/mailverify?uri=planet-openbsd">mail</a> or <a href="http://feeds.feedburner.com/planet-openbsd">RSS</a>.
</p>

<p><a href="http://feeds.feedburner.com/planet-openbsd"><img src="http://feeds.feedburner.com/~fc/planet-openbsd?bg=99CCFF&amp;fg=444444&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a></p>

<p>Maintained by <a href="https://bronevichok.ru/">Sergey Bronnikov</a>
</div>

</body></html>
